@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  min-height: 100vh;
}
